
<div class="ghos3-recommendation-author">   
    <div class="ghos3-recommendation-image">
        <img src="{{feature_image}}"/>
    </div>     
    <div class="ghos3-recommendation-about">
        <h2 class="ghos3-recommendation-title">{{title}}</h2>
        <p class="ghos3-recommendation-affiliation">London Research Institute, United Kingdom</p>
        <p class="ghos3-recommendation-description">Nobel Prize in Physiology or Medicine 2001</p>
    </div>
</div>
<div class="ghos3-recommendation-text">
    <p>
        {{content}}
    </p>
</div>
<a class="ghos3-link-primary ghos3-recommendation-link" href="https://drustvo-evo.hr/s3/files/recommendationLetters/hunt/letter.pdf">Full recommendation letter</a>
