.ghos3-lecture-summary-public {
    display: grid;
    grid-template-columns: 200px auto;
    gap: 30px;
}


.ghos3-lecture-image {
    object-fit: cover;
    border-radius: var(--radius);
    max-height: 200px;
}

.ghos3-lecture-summary-text {
    
}

.ghos3-lecture-read-more-public {
    font-family: var(--font-heading);
    font-weight: var(--font-bold);
    display: inline-block;
    color: var(--color-primary);
    background: var(--color-secondary);
    border-radius: var(--radius);
    padding: 1rem 2rem;
    text-align: center;
    cursor: pointer;
}

.ghos3-lecture-details-public {
    margin-top: 3rem;
}

@media (max-width: 700px) {
    .ghos3-lecture-summary-public {
        grid-template-columns: 1fr;
    }
    
    .ghos3-lecture-image {
        margin: auto;
        grid-row: 1;
    }

    .ghos3-lecture-summary-text {
        text-align: center;
    }
    
}